.container h1{
  margin: 25px 0;
}

.navbar{
  background-color: #f4e2e2;
}

.btn{
  background-color: rgb(244, 200, 200);
  color: black;
  border: none;
  width: 70px;
  height: 40px;
  font-size: 17px;

}

.btn:hover{
  background-color: #f4e2e2;
  color: black;
}

.card-group{
  margin: 30px 0;
}

.card-logo{
  width: 250px;
  margin: 20px 0;
}

.card-body iframe{
  margin: 20px 0;
}

.website-btn{
  width: auto;
}

.contact-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}