@keyframes slideInFromBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

body,
html {
  height: auto;
  width: 100%;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  display: flex;
  flex-direction: row;
  background-image: url("./images/bg.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

table,
th,
td {
  border-style: solid;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
}

table {
  /* border: 1px solid black; */
  border: none;
  /* table-layout: fixed; */
  width: 100%;
}

td{
    text-align: center;
}

th,
td {
  width: 100px;
  overflow: hidden;
  height: 80px;
  border: none;
}


img {
  width: 80px;
  height: auto;
  filter: drop-shadow(5px 5px 5px #222);
}

img:hover{
  cursor: pointer;
}

.game-grid{
    width: 100%;
}

.left{
    padding: 3%;
    width: 55%;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
}

.header h1{
  font-size: 40px;
  margin-top: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.right #congrats{
  color: #f0b4bc;;
  text-decoration: underline wavy #f0b4bc 5px;
  animation: 1s ease-in-out 0s 1 slideInFromBottom;
}