body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./images/bg.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table{
  width: 80%;
}

table,
td,
tr
 {
  border: 1px solid;
  border-collapse: collapse;
}

td{
  padding: 5px;
  font-size: 20px;
  color: #333;
}

.profile-pic {
  width: 10%;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 100px;
  margin-left: 30px;
}

.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 5px 20px;
}

h3{
  margin-top: 0;
}

.table-pic{
  width: 70px;
  height: auto;
  margin-right: 10px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #e5b061;
  text-decoration: underline;
}

.link-td{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
}